
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Catalyst Media{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">    
</head>
<body>
<div class="container mt-4  ">
    <div class="d-flex justify-content-center row">
        <div class="col-md-6">
        <div class="card ">
        <div class="card-header">
        <h4>Register to continue</h4>
        </div>
        <div class="card-body">
            {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field in form %}
                        <p>{{ field.errors }}</p>
                    {% endfor %}
                    {% for ferror in form.non_field_errors %}
                        <p> {{ ferror }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input  class="form-control" type="text" name="username" placeholder="Username" autocomplete="username" minlength="1" maxlength="150" required="" id="id_username">
            </div>
            <div class="input-group mb-3">
                <input class="form-control" type="email" name="email" placeholder="Email address (Optional)" autocomplete="email" maxlength="320" id="id_email">           
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">#</span>
                  </div>
                <input class="form-control"  type="password" name="password1" placeholder="Password" autocomplete="new-password" required="" id="id_password1">
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">#</span>
                  </div>
                <input class="form-control" type="password" name="password2" placeholder="Password (again)" autocomplete="new-password" required="" id="id_password2">
            </div>
            <div class="input-group mb-3">
                <button type="submit" class="btn btn-primary btn-sm btn-block mt-4">Register</button>
              </div>
              <p class="text-center"> You already have an account <a href="/accounts/login/" >login </a> here.</p>
            </div>
        </form>
        </div>
    </div>
    </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
