{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2 class="my-5">Upload Data</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        {% endfor %}
    {% endif %}
    <form id="upload-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="custom-file col-6">
                <input type="hidden" name="client_id" value={{client_id}}>
                <input type="file" class="custom-file-input" id="inputGroupFile01" name="file" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile">Choose file</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary px-5">Start Upload</button>
    </form>
    <div class="mt-5">
        <h3>Upload Progress</h3>
        <div class="progress mt-1">
            <div class="progress-bar bg-success" role="progressbar" id="progress-bar" style="width: 0%;" id="progress-bar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
        </div>
    </div>
</div>
<script>
    document.getElementById('inputGroupFile01').addEventListener('change', function() {
        var fileName = this.value.split('\\').pop();
        this.nextElementSibling.innerHTML = fileName;
    });

    const clientId = "{{client_id}}";  // user ID or session ID.

    const socket = new WebSocket('ws://localhost:8765');

    socket.onopen = function(e) {
        // Send the client ID to the server when the connection opens
        socket.send(JSON.stringify({ 'client_id': clientId }));
        console.log('WebSocket connected with client ID:', clientId);
    };

    socket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log('Message from server:', data);
        if(data.progress_percentage){
            let percentage = Math.round(data.progress_percentage);
            document.getElementById("progress-bar").style.width = percentage.toString() + "%";
            document.getElementById("progress-bar").innerHTML = percentage.toString() + "%";
        }
       
    };

    socket.onclose = function(e) {
        console.error('WebSocket closed unexpectedly');
    };
</script>
{% endblock %}